body{

	background-color: darkgrey;
	margin-left: 55px; 
	margin-right: 55px;
	 color: black;
}

h1{

    text-align: center;
    border: 3px double; #000000



}

p{
	text-align: justify;
	font-size: 20px;
	text-indent: 35px;
}
Img{


	width: 85%;
}
figure{

	 text-align: center;

}
 






